@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto py-8 px-4">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h1 class="text-3xl font-bold text-center mb-8">PRIVACY POLICY</h1>
            <ul class="list-disc pl-5 space-y-4">
                <li>All credit/debit card details and personally identifiable information will NOT be stored, sold, shared, rented, or leased to any third parties.</li>
                <li>We will not pass any debit/credit card details to third parties.</li>
                <li>We take appropriate steps to ensure data privacy and security, including through various hardware and software methodologies. However, musicmajlis.co cannot guarantee the security of any information disclosed online.</li>
                <li>We are not responsible for the privacy policies of websites to which we link. If you provide any information to such third parties, different rules regarding the collection and use of your personal information may apply. You should contact these entities directly if you have any questions about their use of the information that they collect.</li>
                <li>The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements and standards. Therefore, customers are encouraged to frequently visit these sections to stay updated about changes on the website. Modifications will be effective on the day they are posted.</li>
                <li>We adhere to PCI DSS (Payment Card Industry Data Security Standards) to ensure secure handling of sensitive payment card information.</li>
            </ul>
        </div>
    </div>
</body>






<section class="features-section py-5 bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-md-3">
                <img src="~/Images/box.png" alt="Same Day Delivery" class="mb-sm-1" style="width: 40px; height: 40px;">
                <h5>Same Day/Next Day Delivery</h5>
                <p>Next day delivery on most orders in Jordan - Same day available</p>
            </div>
            <div class="col-md-3">
                <img src="~/Images/shopping-cart.png" alt="Biggest Selection" class="mb-2" style="width: 40px; height: 40px;">
                <h5>Biggest Selection</h5>
                <p>Largest collection of any store in MENA</p>
            </div>
            <div class="col-md-3">
                <img src="~/Images/user-talking-with-speech-bubble.png" alt="Top-notch Support" class="mb-2" style="width: 40px; height: 40px;">
                <h5>Top-notch Support</h5>
                <p>We are always happy to help in any way we can</p>
            </div>
            <div class="col-md-3">
                <img src="~/Images/secure-payment.png" alt="Secure Payments" class="mb-2" style="width: 40px; height: 40px;">
                <h5>Secure Payments</h5>
                <p>Cash on Delivery available</p>
            </div>
        </div>
    </div>
</section>

