@model LoginUserCommand;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="card shadow-lg border-0 rounded-3" style="max-width: 400px; width: 100%;">
        <div class="card-body p-4">
            <div class="text-center mb-4">
                <img src="~/Images/login.jpg" class="rounded-circle mb-3" alt="User Icon" style="width: 100px; height: 100px;">
                <h3 class="mb-0">Login</h3>
            </div>

            @if (TempData["LoginMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["LoginMessage"]
                </div>
            }

            <form method="post" action="/authentication/login">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" id="emailInput" placeholder="Email" />
                    <label for="emailInput"><i class="bi bi-person"></i> Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" type="password" class="form-control" id="passwordInput" placeholder="Password" />
                    <label for="passwordInput"><i class="bi bi-lock"></i> Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="rememberMeCheck" />
                    <label class="form-check-label" for="rememberMeCheck">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2">Login</button>
                <div class="text-center mt-3">
                    <a asp-controller="Authentication" asp-action="VerifyEmail" class="text-decoration-none small">Forgot Username/Password?</a>
                </div>
                <p class="text-center mt-3 mb-0">
                    Don’t have an account?
                    <a asp-controller="Authentication" asp-action="Signup" class="text-decoration-none">Sign up</a>
                </p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
