<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Authentication" asp-action="RegisterUserCommand">
      Login
  </a>

</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Authentication" asp-action="SignInCommand">
        Register
    </a>

</li>